/.bundle
/.env*
!/.env*.erb
/config/master.key
/config/credentials/*.key
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/spec/cassettes/*
/spec/examples.txt
/coverage
.byebug_history
.vscode
/public/*
