<div class="w-default mt-8">
  <div class="container w-medium flex flex-col gap-y-2">
    <div class="flex items-center justify-start">
      <h2 class="text-4xl	font-bold pr-2">Hi There!</h2>
    </div>

    <div class="flex flex-col gap-y-4">
      <p class="text-lg pr-2">My Name is Vitória, nice to meet you =)</p>
      <p class="text-lg">
        I'm a software developer who is passionate about providing great experiences through well-designed applications.
        What motivates me to pursue a career in development is the desire to improve how people interact with technology through
        a user-driven, positive, and therefore more inclusive humanised approach.
      </p>

      <p class="text-lg">
        I studied Architecture and Urbanism before graduating as a front end web developer at Trybe. As a result, I have a strong sense of aesthetics and design. This experience has also helped me enhance my empathy abilities, as user demands are critical in both fields of study while developing a final product.
      </p>

      
      <p class="text-lg">
      Currently I am working as a full stack software engineer. These are some of the technologies I've learned so far: 
      JavaScript, HTML5, CSS3, React, React Hooks, RTL, Jest, Redux, Bash, Unix, Git, GitHub, Docker, SQL, Node.js, Ruby, Ruby on rails, agile methodologies
      </p>

      <p class="text-lg">
       You can discover more about me in my github https://github.com/calvitoria or in my portfolio https://calvitoria.herokuapp.com/
      </p>
    </div>
    </div>
  </div>
</div>
