<div class="w-default mt-8">
  <div class="container w-medium flex flex-col gap-y-2">
    <div class="flex items-center justify-start">
      <h2 class="text-4xl	font-bold pr-2">Hi There!</h2>
    </div>

    <div class="flex flex-col gap-y-4">
      <p class="text-lg pr-2">My Name is Vitória, nice to meet you =)</p>
      <p class="text-lg">
        I'm a software developer who is passionate about providing great experiences through well-designed applications.
        What motivates me to pursue a career in development is the desire to improve how people interact with technology through
        a user-driven, positive, and therefore more inclusive humanised approach.
      </p>
    </div>
    </div>
  </div>
</div>
