<div class="w-default mt-8">
  <div class="container w-medium flex flex-col gap-y-2">
    <div class="flex items-center justify-start">
      <h2 class="text-4xl	font-bold pr-2">Hi There!</h2>
    </div>

    <div class="flex flex-col gap-y-4 text-lg pr-2">
      <p class="text-lg">
        I'm a full-stack software engineer with a love for learning and sharing knowledge. I take pride in being part of the queens in STEM community, and I’m excited about the progress we’re making together.
      </p>

      <p>
      Currently, I work at Pluga.co, where I’m involved in building innovative features for our users, refining our codebase, and collaborating with a fantastic team. You can find more info about my tech stack on my <a class="text-secondary" target="_blank" href="https://www.linkedin.com/in/calvitoria/"> LinkedIn </a> and <a class="text-secondary" target="_blank" href="https://github.com/calvitoria"> GitHub <a/>. The experience has been both challenging and rewarding, allowing me to grow professionally and personally.
      </p>

      <p> Feel free to explore my projects and get in touch! </p>
    </div>
    </div>
  </div>
</div>
