<div class="w-default mt-24">
  <div class="container w-medium flex flex-col gap-y-2">
    <div class="flex items-center justify-start">
      <h2 class="text-4xl	font-bold pr-2">Vitória Calvi</h2>
      <h2 class="text-2xl">🌸</h2>
    </div>

    <div class="flex flex-col gap-y-1">
      <p class="text-lg pr-2">Crafting dreams with code! 💻</p>
      <p class="text-lg">Full-stack software engineer. Creatively expressing myself through code. </p>
    </div>

    <div class="flex gap-x-6 text-gray-500">
      <div class="flex items-center gap-x-2">
        <i class="fa-solid fa-venus"></i>
        <p>she/her</p>
      </div>

      <div class="flex items-center gap-x-2">
        <i class="fa-solid fa-cake-candles"></i>
        <p>October 8th</p>
      </div>

      <div class="flex items-center gap-x-2">
        <i class="fa-solid fa-code"></i>
        <p>Since 2021</p>
      </div>
    </div>
  </div>
</div>
