<div class="w-default">
  <div class="relative top-44 left-24">
    <div class="avatar absolute">
      <div class="w-36 rounded-full ring ring-primary ring-offset-base-100 ring-offset-20">
        <img src="https://github.com/user-attachments/assets/ccebd1ba-1b9e-4d61-9ffc-5caefad25c3f" />
      </div>
    </div>
  </div>
  <figure>
    <img class="w-default" src="https://i.pinimg.com/564x/59/f3/16/59f3168b5b459eb40968234d1ea86bfb.jpg" alt="" />
  </figure>
</div>