<div class="m-0 p-0">
  <div class="avatar">
    <div class="w-36 rounded-full ring ring-secondary ring-offset-base-100 ring-offset-20 absolute top-44 left-24">
      <img src="https://github.com/user-attachments/assets/ccebd1ba-1b9e-4d61-9ffc-5caefad25c3f" />
    </div>
  </div>
  <figure>
    <img class="w-default h-full" src="https://i.pinimg.com/564x/59/f3/16/59f3168b5b459eb40968234d1ea86bfb.jpg" alt="" />
  </figure>
</div>