<div class="w-default">
  <div class="relative top-44 left-24">
    <div class="avatar absolute">
      <div class="w-36 rounded-full ring ring-primary ring-offset-base-100 ring-offset-20">
        <img src="https://i.pinimg.com/736x/1d/81/7d/1d817d4a41571d4323860de7653d0935.jpg" />
      </div>
    </div>
  </div>
  <figure>
    <img class="w-default" src="https://i.pinimg.com/564x/59/f3/16/59f3168b5b459eb40968234d1ea86bfb.jpg" alt="" />
  </figure>
</div>