<div class="container w-medium mt-8">
  <nav class="tabs">
    <a href="/feed" class="tab <%= request.path == '/feed' ? 'text-lg text-neutral-content font-bold border-b-4 border-accent' : 'text-lg text-neutral-content border-b-2 border-neutral text-gray-500 hover:text-neutral transition duration-150 ease-in-out' %>">Feed</a>
    <a href="/about" class="tab <%= current_page?(controller: 'about', action: 'index') ? 'text-lg text-neutral-content font-bold border-b-4 border-accent' : 'text-lg text-neutral-content border-b-2 border-neutral text-gray-500 hover:text-neutral transition duration-150 ease-in-out' %>">About</a>
    <a href="/projects" class="tab <%= current_page?(controller: 'projects', action: 'index') ? 'text-lg text-neutral-content font-bold border-b-4 border-accent' : 'text-lg text-neutral-content border-b-2 border-neutral text-gray-500 hover:text-neutral transition duration-150 ease-in-out' %>">Projects</a>
    <a href="/guestbook" class="tab <%= current_page?(controller: 'guest_posts', action: 'index') ? 'text-lg text-neutral-content font-bold border-b-4 border-accent' : 'text-lg text-neutral-content border-b-2 border-neutral text-gray-500 hover:text-neutral transition duration-150 ease-in-out' %>">Guestbook</a>
  </nav>
</div>
