<div class="dropdown dropdown-end">
<label tabindex="0" class="btn btn-primary m-1">Theme</label>
<ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
  <li><a class="theme-option" data-theme="light">Light</a></li>
  <li><a class="theme-option" data-theme="dark">Dark</a></li>
  <li><a class="theme-option" data-theme="cupcake">Cupcake</a></li>
</ul>
</div>